@use 'base/variables' as var;
@use 'base/mixins' as mix; 

.login {

    .uptask {

        @include mix.uptask(var.$cyan);
    }

    input[type="submit"] {
        
        @include mix.boton(var.$cyan, var.$blanco);

        margin: 2rem auto 0 auto;

        @include mix.tablet {
            margin: 2rem 0;
        }
    }

    .acciones {
        a {
            color: var.$cyan;            
        }
    }
}