@use 'base/mixins' as mix;
@use 'base/variables' as var;

.modal {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .formulario {        
        max-width: 60rem;
        background-color: var.$blanco;
        padding: 2rem;
        margin: 0 auto;
        border-radius: 1rem;
        position: relative;
        transform: translateY(-30rem);
        // top: 50%;
        // transform: translateY(-50%);
        transition-property: all;
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        opacity: 0;

        legend {
            margin: 0 auto 3rem auto;
            width: 100%;
            text-align: center;
            font-weight: bold;
            font-size: 2.4rem;
            color: var.$grisOscuro;
        }

        label {
            color: var.$grisOscuro;
        }

        input[type="text"] {
            background-color: var.$grisClaro;
            border-radius: .5rem;
        }

        &.animar {
            top: 50%;
            transform: translateY(-50%);
            opacity: 1;
        }

        &.cerrar {
            top: 0;
            transform: translateY(-30rem);
            opacity: 0;
        }
    }

    .opciones {
        margin-top: 2rem;
        display: flex;
        
        @include mix.tablet {
            justify-content: space-between;
        }

        .btn-crear-tarea {
            @include mix.boton(var.$indigo, var.$blanco);
        }

        .btn-cerrar-modal {
            @include mix.boton(var.$naranja, var.$blanco);
        }

        .btn-cerrar-modal,
        .btn-crear-tarea {
            flex: 1 1 50%;
            padding: 2rem;
            font-size: 1.8rem;

            @include mix.tablet {
                flex: 0;
                font-size: 1.6rem;
                padding: 1rem 3rem;
            }
        }
    }

    
}